@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Card colors */
.green {
  @apply bg-green-800 hover:bg-green-700;
}

.yellow {
  @apply bg-amber-800 hover:bg-amber-700;
}

.red {
  @apply bg-red-800 hover:bg-red-700;
}

.blue {
  @apply bg-blue-800 hover:bg-blue-700;
}

.cyan {
  @apply bg-cyan-800 hover:bg-cyan-700;
}

.teal {
  @apply bg-teal-800 hover:bg-teal-700;
}

.orange {
  @apply bg-orange-800 hover:bg-orange-700;
}

.emerald {
  @apply bg-emerald-800 hover:bg-emerald-700;
}

.stone {
  @apply bg-gray-800 hover:bg-gray-700;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
